
.image { 
    width: 30%;
    float: left;
    margin-bottom: 20px;
    margin-left: 50px;
    flex-direction: row;
}

.buttonDiv {
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    width: 5%;
    margin-left: 25px;
}

.description{
    border: 1px solid black;
    height: 100px;
    width: 300px;
    float: left;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: 50px;
    text-align: center;
    padding-top: 75px;
}

